/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

#### Text

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --paleViolet-subHeadingText: hsl(276, 100%, 81%);
    --moderateViolet-leftText: hsl(276, 55%, 52%);
    --desatDarkViolet-rightText: hsl(271, 15%, 43%);
    --grayishBlue-placeholderText: hsl(206, 6%, 79%);
    --veryDarkDesatViolet-Heading: hsl(271, 36%, 24%);
    --darkGrayishViolet-para: hsl(270, 7%, 64%);
    --white: hsl(0, 0%, 100%);
    --grayish-appBG: hsl(270, 20%, 96%);
    --submitButton-BG: hsl(271, 36%, 24%);
    --magenta-radioOutline: hsl(289, 100%, 72%);
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.mainGradient {
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.positionAbs {
    position: absolute;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.gradientShape-bg {
    height: 50%;
    width: 80%;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: -30%;
   
}

.light-shape-bg {
    height: 50%;
    width: 80%;
    bottom: 0;
    right: 0;
    background: var(--grayish-appBG);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    margin-right: -30%;

}

.phoneContainer {
    /* margin-left: auto;
    margin-right: auto; */
    padding: 10px;
    min-width: 250px;
    height: 500px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.phoneContent {
    position: relative;
    border: 1px solid white;
    background-color: var(--grayish-appBG);
    height: 100%;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.phone-subHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px 10px;
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

.whiteMidTop {
    height: 25px; 
    width: 125px;
    position: absolute;
    top: -10px;
    left: 50px;
    z-index: 1;
    background-color: var(--white);
    border-radius: 15px;
}

.phone-subHeadingLeftSide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 70px;
    width: 75%;
    color: white;
}
.profileImageCont, .backArrowCont, .threeDots { display: flex; align-items: center; margin-top: 10px;}
.availabilityStatus-subHeading { font-size: 8px; color: rgb(234, 234, 234);}

.nameAndStatusCont {
    display: flex;
    flex-direction: column;
}

.profileImage {
    border: 1px solid white;
    border-radius: 50%;
}

.messagesContainer {
    padding: 10px;
    font-size: 9px;
    position: relative;
}

.messagesReceived {
    padding: 7px;
    background-color: #EDE5F4;
    border-radius: 10px;
    margin: 10px 0px;
    position: absolute;
    width: 55%;
    color: var(--moderateViolet-leftText);
}

.messagesSent {
    position: absolute;
    right: 5px;
    padding: 7px;
    border-radius: 10px;
    width: 50%;
    background-color: var(--white);
    
}

.dogImagesCont {
    position: absolute;
    top: 115px;
    right: 5px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.dogImages {
    width: 40px;
    border-radius: 10px;
}

/* input radios */
.radioPricingGradient {
    height: 35px;
    width: 70%;
    display: flex;
    align-items: center;
    color: var(--white);
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    padding: 10px;
    font-weight: 100;
}

.toLeft { 
    margin-right: auto;
    display: flex;
    align-items: center; 
}

.toRightPrice {
    font-weight: 700;
    font-size: 13px;
}

.sendMessageInput {
    background-color: red;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

#messageInput {
    border: none;
    height: 100%;
    width: 90%;
    padding: 5px;
    margin-right: auto;
    border-radius: 20px;
    background-image: url('./images/chevron-right-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
}
/* heading */
.headingWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 300px;
}

h1 {
    font-weight: 500;
    color: var(--veryDarkDesatViolet-Heading);
    margin: 16px 0px;
}

.description {
    color: var(--darkGrayishViolet-para);
    line-height: 1.5rem;
}


@media screen and (min-width: 576px) {
    .gradientShape-bg {
        height: 80%;
        width: 65%;
        margin-left: -25%;
    
    }
    .light-shape-bg {
        height: 80%;
        width: 65%;
        margin-right: -25%;
    }
}

@media screen and (min-width: 768px) {
    .gradientShape-bg {
        height: 85%;
        width: 40%;
        margin-left: -10%;
    
    }
    .light-shape-bg {
        height: 90%;
        width: 45%;
        margin-right: -20%;
    }

    main {
        flex-direction: row;
        justify-content: center;
    }
    .phoneContainer { margin-right: 5rem; }
    .headingWrapper {
        width: 500px;
        text-align: left;
    }
    
}